* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6rem;
}
.hero-shadow {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.green-color {
    color: rgba(34,109,38,0.92);
}
/* navigation */
.navbar-brand {
    font-size: 2rem;
    text-transform: uppercase;
}
.nav-link , .navbar-toggler-icon {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* home section */
.home {
    position: relative;
    height: 60rem;
    z-index: 0;
    background-image: url("img/movieBackground.jpg");
    background-size: cover;
    background-position: center;
}
.home .btn {
    padding: 1em 2em;
    text-transform: uppercase;
}

/*  about Us section */
.aboutUs-box h3 {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.aboutUs-icon {
    font-size: 4rem;
}