* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.6rem;
    position: relative;
}
[id] {
    scroll-margin: 20rem;
}
.hero-shadow {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: -1;
}
.orange-color {
    color: rgba(157,79,27,0.92);
}
.violet-color {
    color:rgba(152,117,209,0.8)
}
/* navigation */
.navbar-brand {
    font-size: 2rem;
    text-transform: uppercase;
}
.nav-link , .navbar-toggler-icon {
    font-size: 1.5rem;
    text-transform: uppercase;
}

/* home section */
.home {
    position: relative;
    height: 60rem;
    z-index: 0;
    background-image: url("img/movieBackground.jpg");
    background-size: cover;
    background-position: center;
}
.home .btn {
    padding: 1em 2em;
    text-transform: uppercase;
}

/*  about Us section */
.aboutUs-box h3 {
    font-size: 2.2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.aboutUs-icon {
    font-size: 4rem;
}
.accordion-button {
    font-size: 1.5rem;
    padding:1rem;
}
.accordion-button:not(.collapsed) {
    color: rgba(157,57,0,0.92);
    background-color:rgba(152,117,209,0.16);
}

/* team section */
.team {
    background-color: rgba(152,117,209,0.16);
}
.team .card-img-top {
    height: 20rem;
    object-fit: cover;
}
.team .card-title {
    font-size: 2rem;
}


/* contact section */
.contact h3 {
    font-size: 1.8rem;
    font-weight: bold;
    text-transform: uppercase;
}
.contact .submit-btn {
    font-size: 1.4rem;
    color:rgb(152,117,209);
}
/* footer section */
.git-link a {
    text-decoration: none;
    color:#ffffff;
}